@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.SliderRoot {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: full;
}

.SliderRoot[data-orientation='horizontal'] {
  height: 20px;
}

.SliderRoot[data-orientation='vertical'] {
  flex-direction: column;
  width: 20px;
  height: 100px;
}

.SliderTrack {
  background-color: #15141c;
  position: relative;
  flex-grow: 1;
}

.SliderTrack[data-orientation='horizontal'] {
  height: 8px;
}

.SliderTrack[data-orientation='vertical'] {
  width: 8px;
}

.SliderRange {
  position: absolute;
  background-color: #0090cc;
  height: 100%;
}

.SliderThumb {
  display: block;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 2px solid white;
  border-radius: 100%;
  cursor: pointer;
}

.SliderThumb:hover {
  background-color: #15141c;
  border-color: #0090cc;
}

.SliderThumb:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 144, 204, 0.5);
}
